{% extends 'partials/base.html' %}
{% load static %}

{% block title %} Boulangerie Pâtisserie MEDINA | Panier{% endblock  %}

{% block nav %}
<li><a href="{% url 'index' %}">Accueil</a></li>
<li><a href="{% url 'about' %}">A Propos</a></li>
<li><a href="{% url 'home' %}">Boutique</a></li>
<li class='active'><a href="#">Pages</a>
    <ul class="dropdown">
        <li><a href="./shop-details.html">Details achats</a></li>
        <li><a href="./checkout.html">Check Out</a></li>>
    </ul>
</li>
<li><a href="./blog.html">Blog</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock  %}

{% block content %}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Mon Panier</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="{% url 'index' %}">Accueil</a>
                    <span>Mon Panier</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Produits</th>
                                <th>Quantité</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for  item in items %}
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="{{item.product.imageURL}}" alt="{{item.product.name}}">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>{{item.product.name}}</h6>
                                        <h5>{{item.product.price}}</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            {{item.quantity}}
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">{{item.get_total}} CFA</td>
                                <td class="cart__close"><span class="icon_close"></span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="{% url 'home' %}">continuez achâts</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#"><i class="fa fa-spinner"></i> 
                            Actualisez</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Code de réduction</h6>
                    <form action="#">
                        <input type="text" placeholder="Code de réduction">
                        <button type="submit">Appliquer</button>
                    </form>
                </div>
                <div class="cart__total">
                    <h6>Total général</h6>
                    <ul>
                        <li>Sous total <span>{{order.get_cart_total}} CFA</span></li>
                        <li>Total général<span>{{order.get_cart_total}} CFA</span></li>
                    </ul>
                    <a href="#" class="primary-btn">Proceder au payement</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
{% endblock  %}